.list-perk {

	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: center;

	.list-perk-item {
		text-align: center;
		margin-top: 2em;
		width: calc(100% / 5);

		.list-perk-title {
			margin-bottom: 0.5em;
			line-height: 1.5em;
		}

		.list-perk-belong {
			font-size: 90%;
		}

	}
	
}